<!-- views/tickets/new.ejs -->
<%- include('../partials/header') %>

<h1>Add Ticket</h1>
<form action="/flights/<%= flight._id %>/tickets" method="post">
  <div>
    <label for="seat">Seat</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="price" required min="0">
  </div>
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>
