<!-- views/flights/new.ejs -->
<%- include('../partials/header') %>

<h2>Add Flight</h2>
<form action="/flights" method="post">
  <div>
    <label for="airline">Airline:</label>
    <select name="airline" id="airline" required>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
  </div>
  <div>
    <label for="airport">Airport:</label>
    <select name="airport" id="airport" required>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </div>
  <div>
    <label for="flightNo">Flight No.:</label>
    <input type="number" name="flightNo" id="flightNo" required min="10" max="9999">
  </div>
  <div>
    <label for="departs">Departure Date/Time:</label>
    <input type="datetime-local" name="departs" id="departs" value="<%= departsDate %>" required>
  </div>
  <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>